.classpath
project.properties
.project
.settings
bin/
gen/
.idea/
*.iml
out
build
local.properties
.DS_Store
.gradle
signing.properties
ffpr
*.sh
pkcs11.password
play
app/.cxx
app/build
gradle
hs_err_pid3132.log
hs_err_pid15408.log
replay_pid3132.log
replay_pid15408.log
