<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.amulyakhare.textdrawable,com.astuetz.pagerslidingtabstrip,pl.tajchert.waitingdots,com.h6ah4i.android.multiselectlistpreferencecompat,android.support.v13,com.davemorrissey.labs.subscaleview,com.tomergoldst.tooltips,com.klinker.android.send_message,com.takisoft.colorpicker,android.support.v14.preference" />

    <permission
        android:name="io.beldex.bchat.ACCESS_BCHAT_SECRETS"
        android:label="Access to BChat secrets"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="io.beldex.bchat.ACCESS_BCHAT_SECRETS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name="com.thoughtcrimes.securesms.ApplicationContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bchat.DayNight"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.thoughtcrimes.securesms.contacts.blocked.BlockedContactsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"/>
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.TransactionDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.info.WalletInfoSeedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.info.WalletInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.node.activity.NodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.utils.pincodeview.managers.AppLockActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.settings.WalletSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.utils.pincodeview.CustomPinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.password.CreateWalletPassword"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.addressbook.AddressBookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.contacts.BlockedContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.calls.WebRtcCallActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName="com.thoughtcrimes.securesms.home.HomeActivity"
            android:screenOrientation="portrait"
            android:showForAllUsers="true"
            android:theme="@style/Theme.Bchat.CallActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thoughtcrimes.securesms.home.HomeActivity" />
        </activity>
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.changelog.ChangeLogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.CheckPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.groups.JoinPublicChatScanQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.groups.JoinPublicChatNewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.dms.PrivateChatScanQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.dms.CreateNewPrivateChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.preferences.ScanQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.preferences.ShowQRCodeWithScanQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.applock.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.SplashScreenHomeActivtity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.SplashScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.PasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.applock.AppLockDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.seed.ShowSeedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.seed.SeedPermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.keys.RecoveryGetKeysDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.seed.RecoveryGetSeedDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.seedorkeysrestore.SeedOrKeysRestoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" /> <!-- Disable all analytics -->
        <activity
            android:name="com.thoughtcrimes.securesms.wallet.startwallet.StartWalletInfo"
            android:screenOrientation="portrait"
            android:exported="false" />
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.LandingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.RecoveryPhraseRestoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.LinkDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.DisplayNameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.PNModeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.AppLockActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.CreatePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.RecoveryPhraseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.home.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"/>

        <activity-alias
            android:name=".RoutingActivity"
            android:exported="true"
            android:targetActivity="com.thoughtcrimes.securesms.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.sec.minimode.icon.portrait.normal"
                android:resource="@mipmap/ic_launcher" />
            <meta-data
                android:name="com.sec.minimode.icon.landscape.normal"
                android:resource="@mipmap/ic_launcher" />
        </activity-alias>

        <activity
            android:name="com.thoughtcrimes.securesms.messagerequests.MessageRequestsActivity"
            android:exported="false"
            android:label="@string/activity_message_requests_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.preferences.SettingsActivity"
            android:exported="false"
            android:label="@string/activity_settings_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.home.PathActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.preferences.QRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.dms.CreatePrivateChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.groups.CreateClosedGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.groups.EditClosedGroupActivity"
            android:exported="false"
            android:label="@string/activity_edit_closed_group_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.groups.JoinPublicChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.SeedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.contacts.SelectContactsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.preferences.PrivacySettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.preferences.NotificationSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.preferences.ChatSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thoughtcrimes.securesms.ShareActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/Theme.TextSecure.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".service.DirectShareService" />
        </activity>
        <activity
            android:name="com.thoughtcrimes.securesms.conversation.v2.MessageDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight" />
        <activity
            android:name="com.thoughtcrimes.securesms.groups.OpenGroupGuidelinesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight" />
        <activity
            android:name="com.thoughtcrimes.securesms.longmessage.LongMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight" />
        <activity
            android:name="com.thoughtcrimes.securesms.DatabaseUpgradeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/NoAnimation.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.PassphrasePromptActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="com.thoughtcrimes.securesms.giph.ui.GiphyActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.thoughtcrimes.securesms.mediasend.MediaSendActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.thoughtcrimes.securesms.MediaPreviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:label="@string/AndroidManifest__media_preview"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.thoughtcrimes.securesms.MediaOverviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.thoughtcrimes.securesms.DummyActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="com.thoughtcrimes.securesms.scribbles.StickerSelectActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:theme="@style/Theme.Bchat.ForceDark" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.thoughtcrimes.securesms.ShortcutLauncherActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />

        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.LandingScreenActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.thoughtcrimes.securesms.onboarding.ui.OnBoardingActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true">

        </activity>

        <service
            android:name="com.thoughtcrimes.securesms.notifications.PushNotificationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.thoughtcrimes.securesms.service.WebRtcCallService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.thoughtcrimes.securesms.service.KeyCachingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.thoughtcrimes.securesms.service.DirectShareService"
            android:exported="true"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
        <service
            android:name="com.thoughtcrimes.securesms.service.GenericForegroundService"
            android:exported="false" />

        <receiver
            android:name="com.thoughtcrimes.securesms.notifications.MarkReadReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="io.beldex.securesms.notifications.CLEAR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.notifications.RemoteReplyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="io.beldex.securesms.notifications.WEAR_REPLY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.notifications.AndroidAutoHeardReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.beldex.securesms.notifications.ANDROID_AUTO_HEARD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.notifications.AndroidAutoReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.beldex.securesms.notifications.ANDROID_AUTO_REPLY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.service.ExpirationListener"
            android:exported="false" />

        <provider
            android:name="com.thoughtcrimes.securesms.providers.PartProvider"
            android:authorities="io.beldex.provider.securesms"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.beldex.securesms.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <provider
            android:name="com.thoughtcrimes.securesms.database.DatabaseContentProviders$Conversation"
            android:authorities="io.beldex.securesms.database.conversation"
            android:exported="false" />
        <provider
            android:name="com.thoughtcrimes.securesms.database.DatabaseContentProviders$ConversationList"
            android:authorities="io.beldex.securesms.database.conversationlist"
            android:exported="false" />
        <provider
            android:name="com.thoughtcrimes.securesms.database.DatabaseContentProviders$Attachment"
            android:authorities="io.beldex.securesms.database.attachment"
            android:exported="false" />
        <provider
            android:name="com.thoughtcrimes.securesms.database.DatabaseContentProviders$Sticker"
            android:authorities="io.beldex.securesms.database.sticker"
            android:exported="false" />
        <provider
            android:name="com.thoughtcrimes.securesms.database.DatabaseContentProviders$StickerPack"
            android:authorities="io.beldex.securesms.database.stickerpack"
            android:exported="false" />
        <provider
            android:name="com.thoughtcrimes.securesms.database.DatabaseContentProviders$Recipient"
            android:authorities="io.beldex.securesms.database.recipient"
            android:exported="false" />

        <receiver
            android:name="com.thoughtcrimes.securesms.service.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="io.beldex.securesms.RESTART" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.service.LocalBackupListener"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.service.PersistentConnectionBootListener"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.notifications.LocaleChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.notifications.DeleteNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.beldex.securesms.DELETE_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.service.PanicResponderListener"
            android:exported="false">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thoughtcrimes.securesms.notifications.BackgroundPollWorker$BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.thoughtcrimes.securesms.jobmanager.JobSchedulerScheduler$SystemService"
            android:enabled="@bool/enable_job_service"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:targetApi="26" />

        <service
            android:name="com.thoughtcrimes.securesms.jobmanager.KeepAliveService"
            android:enabled="@bool/enable_alarm_manager"
            android:exported="false" />

        <receiver
            android:name="com.thoughtcrimes.securesms.jobmanager.AlarmManagerScheduler$RetryReceiver"
            android:enabled="@bool/enable_alarm_manager"
            android:exported="false" /> <!-- Probably don't need this one -->

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />

        <service
            android:name="com.thoughtcrimes.securesms.wallet.service.WalletService"
            android:description="@string/service_description"
            android:exported="false"
            android:label="BChat Wallet Service" />
    </application>

</manifest>