<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android.support.v13,com.davemorrissey.labs.subscaleview,com.tomergoldst.tooltips,com.klinker.android.send_message,android.support.v14.preference" />

    <permission
        android:name="${applicationId}.ACCESS_BCHAT_SECRETS"
        android:label="Access to BChat secrets"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="${applicationId}.ACCESS_BCHAT_SECRETS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Only used on Android API 29 and lower -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Google may (potentially) insist we implement `ConnectionService` to request MANAGE_OWN_CALLS - see:
           - https://developer.android.com/reference/android/Manifest.permission#MANAGE_OWN_CALLS
           - https://developer.android.com/reference/android/telecom/ConnectionService
    -->
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.app.role.DIALER" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name="io.beldex.bchat.ApplicationContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bchat.DayNight"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, android:label">
        <activity
            android:name="io.beldex.bchat.contacts.blocked.BlockedContactsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="io.beldex.bchat.wallet.TransactionDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.wallet.info.WalletInfoSeedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.wallet.info.WalletInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.wallet.node.activity.NodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.wallet.settings.WalletSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.wallet.utils.pincodeview.CustomPinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="io.beldex.bchat.wallet.password.CreateWalletPassword"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.wallet.addressbook.AddressBookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.contacts.BlockedContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.calls.WebRtcCallActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName="io.beldex.bchat.home.HomeActivity"
            android:screenOrientation="portrait"
            android:showForAllUsers="true"
            android:theme="@style/Theme.Bchat.CallActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.beldex.bchat.home.HomeActivity" />
        </activity>
        <activity
            android:name="io.beldex.bchat.webrtc.WebRTCComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName="io.beldex.bchat.home.HomeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:showForAllUsers="true"
            android:theme="@style/Theme.Bchat.CallActivity"
            android:supportsPictureInPicture="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.beldex.bchat.home.HomeActivity" />
        </activity>
        <activity
            android:name="io.beldex.bchat.onboarding.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.changelog.ChangeLogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.onboarding.CheckPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="io.beldex.bchat.groups.JoinPublicChatScanQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.groups.JoinPublicChatNewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.dms.PrivateChatScanQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.dms.CreateNewPrivateChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.preferences.ScanQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.preferences.ShowQRCodeWithScanQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.applock.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="io.beldex.bchat.onboarding.SplashScreenHomeActivtity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.onboarding.SplashScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="io.beldex.bchat.onboarding.PasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="io.beldex.bchat.applock.AppLockDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.seed.ShowSeedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.seed.SeedPermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.keys.RecoveryGetKeysDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.seed.RecoveryGetSeedDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.seedorkeysrestore.SeedOrKeysRestoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" /> <!-- Disable all analytics -->
        <activity
            android:name="io.beldex.bchat.wallet.startwallet.StartWalletInfo"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="false" />
<!--        <meta-data-->
<!--            android:name="firebase_crashlytics_collection_enabled"-->
<!--            android:value="true" />-->
        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <activity
            android:name="io.beldex.bchat.onboarding.LandingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="io.beldex.bchat.onboarding.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.onboarding.RecoveryPhraseRestoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.onboarding.DisplayNameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.onboarding.PNModeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.onboarding.AppLockActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="io.beldex.bchat.onboarding.CreatePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="io.beldex.bchat.onboarding.RecoveryPhraseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.home.HomeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />

        <activity-alias
            android:name=".RoutingActivity"
            android:exported="true"
            android:targetActivity="io.beldex.bchat.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.sec.minimode.icon.portrait.normal"
                android:resource="@mipmap/ic_launcher" />
            <meta-data
                android:name="com.sec.minimode.icon.landscape.normal"
                android:resource="@mipmap/ic_launcher" />
        </activity-alias>

        <activity
            android:name="io.beldex.bchat.messagerequests.MessageRequestsActivity"
            android:exported="false"
            android:label="@string/activity_message_requests_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.preferences.SettingsActivity"
            android:exported="false"
            android:label="@string/activity_settings_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.home.PathActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.preferences.QRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar" />
        <activity
            android:name="io.beldex.bchat.dms.CreatePrivateChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.groups.CreateClosedGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.groups.EditClosedGroupActivity"
            android:exported="false"
            android:label="@string/activity_edit_closed_group_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.groups.JoinPublicChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.FlatActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.onboarding.SeedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.contacts.SelectContactsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.beldex.bchat.preferences.PrivacySettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"/>
        <activity
            android:name="io.beldex.bchat.preferences.NotificationSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"/>
        <activity
            android:name="io.beldex.bchat.preferences.ChatSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"/>
        <activity
            android:name="io.beldex.bchat.ShareActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/Theme.TextSecure.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".service.DirectShareService" />
        </activity>
        <activity
            android:name="io.beldex.bchat.conversation.v2.MessageDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight" />
        <activity
            android:name="io.beldex.bchat.groups.OpenGroupGuidelinesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight" />
        <activity
            android:name="io.beldex.bchat.longmessage.LongMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight" />
        <activity
            android:name="io.beldex.bchat.DatabaseUpgradeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/NoAnimation.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="io.beldex.bchat.PassphrasePromptActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="io.beldex.bchat.giph.ui.GiphyActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.beldex.bchat.mediasend.MediaSendActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TextSecure.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.beldex.bchat.MediaPreviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:label="@string/AndroidManifest__media_preview"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.MediaOverviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.beldex.bchat.DummyActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="io.beldex.bchat.scribbles.StickerSelectActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:theme="@style/Theme.Bchat.ForceDark" />
        <activity
            android:name="io.beldex.bchat.ShortcutLauncherActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />
        <activity
            android:name="io.beldex.bchat.onboarding.LandingScreenActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.beldex.bchat.onboarding.ui.OnBoardingActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="manage_pin"
                    android:scheme="onboarding" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.beldex.bchat.my_account.ui.MyAccountActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"/>

        <activity
            android:name="io.beldex.bchat.wallet.jetpackcomposeUI.settings.WalletSettingComposeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"/>
        <activity
            android:name="io.beldex.bchat.groups.SecretGroupInfoComposeActivity"
            android:exported="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"
            />
        <activity
            android:name="io.beldex.bchat.wallet.jetpackcomposeUI.node.NodeComposeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"/>

        <activity
            android:name="io.beldex.bchat.my_account.ui.MyProfileActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"/>

        <activity
            android:name="io.beldex.bchat.home.SearchActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar"/>
        <activity
            android:name="io.beldex.bchat.conversation_v2.NewGroupConversationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/title_activity_create_secret_group_screen"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />

        <activity
            android:name="io.beldex.bchat.conversation_v2.NewChatConversationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/new_chat_screen_title"
            android:theme="@style/Theme.Bchat.DayNight.NoActionBar" />

        <service
            android:name="io.beldex.bchat.notifications.FirebasePushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="io.beldex.bchat.service.WebRtcCallService"
            android:foregroundServiceType="phoneCall"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="io.beldex.bchat.service.KeyCachingService"
            android:enabled="true"
            android:exported="false" android:foregroundServiceType="specialUse">
        </service>
        <service
            android:name="io.beldex.bchat.service.DirectShareService"
            android:exported="true"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
        <service
            android:name="io.beldex.bchat.service.GenericForegroundService"
            android:exported="false" />

        <receiver
            android:name="io.beldex.bchat.notifications.MarkReadReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="io.beldex.securesms.notifications.CLEAR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.notifications.RemoteReplyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="io.beldex.securesms.notifications.WEAR_REPLY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.notifications.AndroidAutoHeardReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.beldex.securesms.notifications.ANDROID_AUTO_HEARD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.notifications.AndroidAutoReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.beldex.securesms.notifications.ANDROID_AUTO_REPLY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.service.ExpirationListener"
            android:exported="false" />

        <provider
            android:name="io.beldex.bchat.providers.PartProvider"
            android:authorities="${providerId}.provider.securesms"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${providerId}.securesms.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <provider
            android:name="io.beldex.bchat.database.DatabaseContentProviders$Conversation"
            android:authorities="${providerId}.securesms.database.conversation"
            android:exported="false" />
        <provider
            android:name="io.beldex.bchat.database.DatabaseContentProviders$ConversationList"
            android:authorities="${providerId}.securesms.database.conversationlist"
            android:exported="false" />
        <provider
            android:name="io.beldex.bchat.database.DatabaseContentProviders$Attachment"
            android:authorities="${providerId}.securesms.database.attachment"
            android:exported="false" />
        <provider
            android:name="io.beldex.bchat.database.DatabaseContentProviders$Sticker"
            android:authorities="${providerId}.securesms.database.sticker"
            android:exported="false" />
        <provider
            android:name="io.beldex.bchat.database.DatabaseContentProviders$StickerPack"
            android:authorities="${providerId}.securesms.database.stickerpack"
            android:exported="false" />
        <provider
            android:name="io.beldex.bchat.database.DatabaseContentProviders$Recipient"
            android:authorities="${providerId}.securesms.database.recipient"
            android:exported="false" />

        <receiver
            android:name="io.beldex.bchat.service.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="io.beldex.securesms.RESTART" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.service.LocalBackupListener"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.service.PersistentConnectionBootListener"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.notifications.LocaleChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.notifications.DeleteNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.beldex.securesms.DELETE_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.service.PanicResponderListener"
            android:exported="false">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.beldex.bchat.notifications.BackgroundPollWorker$BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="io.beldex.bchat.jobmanager.JobSchedulerScheduler$SystemService"
            android:enabled="@bool/enable_job_service"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:targetApi="26" />
        <service
            android:name="io.beldex.bchat.jobmanager.KeepAliveService"
            android:enabled="@bool/enable_alarm_manager"
            android:exported="false" />

        <receiver
            android:name="io.beldex.bchat.jobmanager.AlarmManagerScheduler$RetryReceiver"
            android:enabled="@bool/enable_alarm_manager"
            android:exported="false" /> <!-- Probably don't need this one -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />

        <service
            android:name="io.beldex.bchat.wallet.service.WalletService"
            android:description="@string/service_description"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="BChat Wallet Service" />
    </application>

</manifest>